<div class="row">
    <br>
    <div class="col-sm-12 col-lg-12">   
        <div class="panel panel-info">
            <div class="panel-heading" align="center"><b>THÔNG TIN SẢN PHẨM ĐẶT HÀNG CỦA KHÁCH HÀNG</b>
            </div>    
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Người đặt</th>
                        <th>Sản phẩm</th>
                        <th>Giá sản phẩm</th>
                        <th>Số lượng</th>
                        <th>Thành tiền</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in carts%}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{item.user.last_name}} {{item.user.first_name}}&nbsp<span class="glyphicon glyphicon-info-sign" onclick="document.getElementById('id{{item.id}}{{item.id}}').style.display='block'" class="w3-button w3-black" style="color: #0077b3" data-toggle="tooltip" title="Thông tin User">        
                        </span>  </button>
                            <div id="id{{item.id}}{{item.id}}" class="w3-modal">
                                <div class="w3-modal-content">
                                    {% include 'Banhang/form_thongtinuser.html'%}
                                </div>                       
                            </div></td>
                        <td>{{item.product.title}}
                        </td>
                        <td>{{item.product.price|floatformat:'-1'}} VNĐ</td>
                        <td>{{item.num}}</td>
                        <td>{{item.sum_product|floatformat:'-1'}} VNĐ</td>
                        <td><button><span class="" onclick="document.getElementById('id{{item.id}}').style.display='block'" class="w3-button w3-black" style="color: #0077b3" data-toggle="tooltip" title="Xác nhận đơn hàng">Confirm         
                        </span>  </button>
                            <div id="id{{item.id}}" class="w3-modal">
                                <div class="w3-modal-content">
                                    {% include 'Banhang/form_confirm.html'%}
                                </div>                       
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>