
<div class="grid-container1">
    <div class="col-lg-12">
        {% for obj in sanpham %}  
        <div class="col-lg-3">
            <div>
                <div class="thumbnail" align="center">
                    <a href="">
                        <img src="{{ obj.img.url }}" class="img-responsive">
                    </a>
                    <div class="caption" align="center">
                        <b>{{ obj.title }} <br>
                        Giá: {{ obj.price|floatformat:'-1' }} VNĐ</b>
                        <hr>
                        <p><a href="{% url 'Banhang_page:page_ViewDeatail' obj.id %}" class="btn btn-primary btn-sm" data-target=".bs-example-modal-sm">View Details</a></p>
<!--                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">View Details</button>-->

                        <span class="btn btn-default btn-sm"><!-- số 2 là mã người đăng nhập -->
                            <a data-toggle="tooltip" title="Add Cart" href="{% url 'Banhang_page:page_login' %}">
                                <span class="glyphicon glyphicon-shopping-cart"></span> Add Cart
                            </a>
                        </span>
                        <!-- 
                        <a href="" class="btn btn-default btn-sm btn-favorite" role="button">
                            <span class="glyphicon glyphicon-star {% if album.is_favorite %}active{% endif %}"></span>
                        </a>-->

                    </div>
                </div>
            </div>
        </div>    
        {% endfor %}



    </div>
</div>


