
<div class="grid-container1">
    <div class="col-lg-12">


        {% for obj in sanpham %}  
        <div class="col-lg-3">
            <div class="panel panel-info" style="min-height: 10; max-height: 10;">
                <div class="panel-heading">
                    {{ obj.title}}
                    <img src="{{ obj.img.url }}" class="img-thumbnail" align="left">
                    <div class="font">
                        {{ obj.additionProperties }}
                    </div>
                </div>
                <div class="panel-body"></div>
                <div class="panel-footer" align="right">

                    <span class="btn btn-default btn-sm">
                        <a data-toggle="tooltip" title="Thông tin chi tiết" href="">
                            <span class="glyphicon glyphicon-info-sign"></span>
                        </a>
                    </span>                
                  
                    <span class="btn btn-default btn-sm"><!-- số 2 là mã người đăng nhập -->
                        {% if cart %}
                            {% for item in cart %}
                            {% if forloop.first %}
                            <a data-toggle="tooltip" title="Add Cart" href="{% url 'Banhang_page:page_AddCart' obj.id user.id %}"> 
                                <span class="glyphicon glyphicon-shopping-cart"></span> Add Cart
                            </a>
                            {% endif %}
                            {% endfor %}
                        {% else %}                            
                            <a data-toggle="tooltip" title="Add Cart" href="{% url 'Banhang_page:page_AddCartEmpty' obj.id user.id %}">
                                <span class="glyphicon glyphicon-shopping-cart"></span> Add Cart
                            </a>
                        {% endif %}                      
                        
                    </span>
                </div>
            </div>
        </div>    
        {% endfor %}
 
    </div>
</div>


