<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <header class="w3-container w3-light-blue">
        <span onclick="document.getElementById('{{item.id}}').style.display='none'" class="w3-button w3-display-topright">&times;</span>
        <h4 align="center" style="color: #000099"><strong>Thông tin khách hàng</strong></h4>
    </header>

    <div class="w3-container">
    <br>
    <div align="">
        <hr>
            <form action="" method="post" action="" enctype="multipart/form-data">
                <div>
                    <div>
                        <p><b>Người dùng: {{item.id_user.customer.name}}</b></p>
                        <p><b>Địa chỉ mail: {{item.id_user.email}}</b></p>
                        <p><b>Số điện thoại: 0{{item.id_user.customer.phone}}</b></p>
                    </div>
                </div>
            </form>
        <hr>
    </div>
    <div align="right">
        <span onclick="document.getElementById('{{item.id}}').style.display='none'">
            <button type="button" class="btn btn-warning  btn-xs">Ignore</button>
        </span>
    </div>
    <br>
    </div>
</body>
</html>