<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <header class="w3-container w3-light-blue">
        <span onclick="document.getElementById('id{{item.id}}').style.display='none'"
          class="w3-button w3-display-topright">&times;</span>
        <h4 align="center" style="color: #000099"><strong>Thông báo các sản phẩm mà khách hàng {{item.id_user.customer.name}} mua</strong></h4>
    </header>
    <table>
        <thead>
            <tr>
                <th>Sản phẩm</th>
                <th class="w3-center">Giá sản phẩm</th>
                <th class="w3-center">Số lượng</th>
                <th class="w3-center">Thành tiền</th>
            </tr>
        </thead>
        <tbody>
        {% for product in cartItem %}
            <tr>
                {% if product.id_cart == item.id_cart %}
                <td>{{product.id_product}}</td>
                <td>{{product.id_product.price_sale|floatformat:'-1'}}VND</td>
                <td>{{product.num}}</td>
                <td>{{product.sum_product|floatformat:'-1'}}VND</td>
                {% endif%}
            </tr>
        {% endfor %}
        </tbody>
        <tbody>

        </tbody>
    </table>
</body>
</html>