center{
    /* background-color:aqua; */
    background-image: url("background1.jpg");
    padding: 100px;
    height: 100vh;
}

.container{
    padding: 20px;
    background-color: lightgray;
    box-sizing: border-box;
    width: 50%; 
    /* flex-wrap: wrap; */
}
.form-group{
    color:blue;
    border: 1px solid black;
}
.information{
    color: blue;
    font-style: italic;
    font-weight: 500;
    text-align: left;
    font-family: cursive;
}
.form{
    border: 2px black;
}

.title{
    font-family: cursive;
}

.start-button {
    font-family: monospace;
}

#signin{
    font-style: italic;
    font-family: cursive;
}