<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>LogIn</title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="/static/style_login.css" rel="stylesheet" />
</head>

<body>
    <center>
        <form role="form" action="{% url 'Page:page_login' %}" method="POST" name="login">
            {% csrf_token %}
            <div class = "container">
                <div class = 'title'>
                    <h2>Đăng nhập</h2>
                </div>

                <div class="information">
                    <label for="id_username">Tài khoản</label>
                    <input type="text" name="username" id="id_username"
                            aria-describedby="emailHelp" placeholder="Tên tài khoản">

                    <label for="id_password">Mật khẩu</label>
                    <input type="password" name="password" id="id_password"
                            aria-describedby="emailHelp" placeholder="Mật khẩu của bạn">
                </div>

                <div class = 'sign-in'>
                    <button type="submit">Đăng nhập</button>
                </div>

                <div class = "other">
                    <p class="text-center" id="note"> Chưa có tài khoản ? 
                        <a href="../register_user/#" id="link"> Đăng ký ở đây</a>
                    </p>
                        <a href="../" id="link"> Quay lại trang chủ </a>
                </div>

                <div class = 'warning'>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                </div>
            </div> 
        </form>
    </center>
</body>
</html>