
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!------------------------------------------------------------------------------------------------------------->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand w3-bar-item w3-button w3-border-right" href="{% url 'Banhang_page:page_Index_Page' %}">
                <span class="glyphicon glyphicon-home"></span> Trang chủ
            </a>
            <a class="navbar-brand w3-bar-item w3-button w3-border-right" href="{% url 'Banhang_page:page_present_page' %}">
                <span></span> Giới thiệu
            </a>
            <a class="navbar-brand w3-bar-item w3-button w3-border-right" href="{% url 'Banhang_page:page_link_page' %}">
                <span></span> Liên hệ
            </a>
            <a class="navbar-brand w3-bar-item w3-button w3-border-right" href="{% url 'Banhang_page:page_paper_page' %}">
                <span></span> Bài viết
            </a>
        </div>
        <!------------------------------------------------------------------------------------------------------------->
        <div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{% url 'Banhang_page:page_login' %}">
                            <strong>
                                <span class="glyphicon glyphicon-shopping-cart">
                                </span><span class="badge" style="background:#999"></span>
                            </strong>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'Banhang_page:page_login' %}">
                            <strong>
                                Login
                            </strong>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

