<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <style>
        #cart-table {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
        }
        #cart-table td, #cart-table th {
            border: 1px solid #ddd;
            padding: 8px;
        }
        #cart-table tr:nth-child(even){background-color: #f2f2f2;}

        #cart-table tr:hover {background-color: #ddd;}

        #cart-table th {
            padding-top: 12px;
            padding-bottom: 12px;
            background-color: #4CAF50;
            color: white;
        }
    </style>
</head>
<body>
    <div class="row">
        <div class="panel panel-info">
            <div class="panel-heading" align="center"><b>THÔNG TIN SẢN PHẨM ĐẶT HÀNG CỦA KHÁCH HÀNG</b></div>
            <table class="w3-table-all" id="cart-table">
                <thead>
                    <tr>
                        <th class="w3-center">STT</th>
                        <th class="w3-center">Người đặt</th>
                        <th class="w3-center">Đơn hàng</th>
                        <th class="w3-center">Trạng thái</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in order %}
                    <tr>
                        <td class="w3-center">{{forloop.counter}}</td>
                        <td>{{item.id_user}}
                            <span class="glyphicon glyphicon-info-sign" onclick="document.getElementById('userInfo').style.display='block'"
                                  class="w3-button w3-black" style="color: #0077b3" data-toggle="tooltip" title="Thông tin User">
                            </span>
                            <div id="userInfo" class="w3-modal">
                                <div class="w3-modal-content">
                                    {% include 'Form/form_userInfo.html'%}
                                </div>
                            </div>
                        </td>
                        <td class="w3-center">
                            {{item.id_cart.CreateAt}}
                            <span class="glyphicon glyphicon-info-sign" onclick="document.getElementById('productInfo').style.display='block'"
                                  class="w3-button w3-black" style="color: #0077b3" data-toggle="tooltip" title="Thông tin User">
                            </span>
                            <div id="productInfo" class="w3-modal">
                                <div class="w3-modal-content">
                                    {% include 'Form/form_productInfo.html'%}
                                </div>
                            </div>
                        </td>
                        {% if item.status == 'pending' %}
                        <td class="w3-center">
                            <button>
                                <a href="">Confirm</a>
                            </button>
                        </td>
                        {% elif item.status == 'confirm' %}
                        <td class="w3-center">
                            <button>
                                <a href="">Shipping</a>
                            </button>
                        </td>
                        {% elif item.status == 'shipping' %}
                        <td class="w3-center">
                            <button>
                                <a href="">Paid</a>
                            </button>
                        </td>
                        {% elif item.status == 'paid' %}
                        <td class="w3-center">
                            <button>
                                <a href="">Completed</a>
                            </button>
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>