<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <header class="w3-container w3-light-blue">
        <span onclick="document.getElementById('id{{item.id}}').style.display='none'"
              class="w3-button w3-display-topright">&times;</span>
        <h4 align="center" style="color: #000099">THÔNG BÁO CHỐT ĐƠN HÀNG</h4>
    </header>

    <div class="w3-container">
        <br>
        <div align="center">
            <hr>
                <form action="{% url 'Page:page_Buy' user.id %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div>
                        <div>
                            <p><span class="glyphicon glyphicon-alert"></span> Bạn có chắc muốn thanh toán đơn hàng</p>
                            <p align="center">Đồng ý xin vui lòng nhấn <b>"Agree"</b> | Không đồng ý nhấn <b>"Ignore"</b></p>
                        </div>
                    </div>
                    <div>
                        Địa Chỉ:
                        <textarea name="addressInputText" cols="40", rows="10"></textarea>
                    </div>
                    <div>
                        <button type="submit">Agree</button>
                    </div>
                </form>
            <hr>
        </div>
    </div>
    <div align="right">
            <span onclick="document.getElementById('id{{item.id}}').style.display='none'"
                  class="w3-button w3-blue w3-tiny w3-padding-small w3-round-xlarge">
                <b style="font-size:12px">Ignore</b>
            </span>
        </div>
    </div>
    <br>
</body>
</html>