<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- SEO Meta Tags -->
    <meta name="description" content="Aria is a business focused HTML landing page template built with Bootstrap to help you create lead generation websites for companies and their services.">
    <meta name="author" content="Inovatik">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
	<meta property="og:site_name" content="" /> <!-- website name -->
	<meta property="og:site" content="" /> <!-- website link -->
	<meta property="og:title" content=""/> <!-- title shown in the actual shared post -->
	<meta property="og:description" content="" /> <!-- description shown in the actual shared post -->
	<meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
	<meta property="og:url" content="" /> <!-- where do you want your post to link to -->
	<meta property="og:type" content="article" />

    <!-- Website Title -->
    <title>WOW! BLOG</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500,700&display=swap&subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600&display=swap&subset=latin-ext" rel="stylesheet">
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/fontawesome-all.css" rel="stylesheet">
    <link href="/static/css/swiper.css" rel="stylesheet">
	  <link href="/static/css/magnific-popup.css" rel="stylesheet">
	  <link href="/static/css/styles_base_UI_home.css" rel="stylesheet">
    <link href="/static/css/style_blog.css" rel="stylesheet">
    <style>
      .posts-page {
        color: #14fb98!important;
      }
    </style>
  </head>
  <body>
    {% include 'NavigationBar/Blog_Page.html' %}

    <!-- Header -->
    <header id="header" class="header posts-header">
        <div class="header-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-container">
                            <h1>WOW! BLOG</span></h1>
                            <a class="btn-solid-lg page-scroll" href="#start-blog" style="margin-top: 2rem;">WHAT'S NEW?</a>
                        </div>
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> <!-- end of header-content -->
    </header> <!-- end of header -->
    <!-- end of header -->
    
    <div class="start-blog container" id="start-blog">
      <div class="row">
        <!-- Latest Posts -->
        <main class="post blog-post col-lg-8"> 
          <div class="container">
            <div class="post-single">
              <div class="post-thumbnail"><img src="/static/posts/post-6/blog-post-3-1.png" alt="..." class="img-fluid"></div>
              <div class="post-details">
                <div class="post-meta d-flex justify-content-between">
                </div>
                <h1>DIY – Thư giãn làn da với 4 loại mặt nạ thiên nhiên siêu đơn giản<a href="#"><i class="fa fa-bookmark-o"></i></a></h1>
                <div class="post-footer d-flex align-items-center flex-column flex-sm-row">
                </div>
                <div class="post-body">
                  <p class="lead">Cuối tuần, nâng cấp nhan sắc và chăm sóc để có một làn da bóng khỏe rạng rỡ sau những ngày làm việc căng thẳng cùng mặt nạ homemade vừa dễ làm vừa kinh tế thì còn gì tuyệt bằng nàng nhỉ.</p>
                  <p>Bên cạnh gout thời trang sành điệu, nàng cũng cần một làn da khỏe mạnh và tươi mới để “ghi điểm” cùng người ấy hoặc hội bạn trong những buổi hẹn hò cuối tuần.</p>
                  <p>Khoảng thời gian thảnh thơi cuối tuần là thời điểm lý tưởng để bạn nuông chiều bản thân. Thực tế, bạn chỉ cần ít nhất 30 phút để làm mặt nạ chăm sóc da tại nhà và kết quả của việc này hẳn sẽ khiến bạn ngạc nhiên đấy. </p>
                  <p><img src="/static/posts/post-6/featured-pic-1.jpg" alt="..." class="img-fluid"></p>
                  <p>Chẳng cần phải tìm đâu xa, nguyên liệu để làm nên các loại mặt nạ “thần thánh” này có ngay trong gian bếp. Bạn có thể tự “chế biến” nhiều loại mặt nạ khác nhau với các loại trái cây, rau củ thiên nhiên giàu vitamin và dưỡng chất có lợi cho sức khỏe cũng như làn da như quả bơ, chuối, cà rốt,… Việc này chẳng những giúp bạn hiểu được mức độ an toàn của các loại mặt nạ trước khi sử dụng lên da cũng như là tiết kiệm chi phí cho chuyên mục “tút tát” nhan sắc</p>
                  <p>Hôm nay, WOW sẽ gợi ý bạn 4 công thức mặt nạ thiên nhiên cực kì đơn giản để bạn có thể áp dụng ngay vào cuối tuần này.</p>
                  <h3>Mặt nạ mật ong nghệ giúp giảm viêm cho da </h3>
                  <p><img src="/static/posts/post-6/featured-pic-2.jpg" alt="..." class="img-fluid"></p>
                  <p>Công thức này giúp làm giảm những nốt sưng viêm trên da. Mật ong có tác dụng tuyệt vời trong việc làm đều màu da và giúp da mịn màng hơn. Bột nghệ hạn chế các sắc tố da trong khi sữa chua loại bỏ lớp tế bào xỉn màu. Mặt nạ này sẽ giúp nàng tăng cường vẻ rạng rỡ và căng bóng cho làn da.</p>
                  <h4>Nguyên liệu để làm mặt nạ:</h4>
                  <p>1 muỗng cà phê bột nghệ hữu cơ
                  <p>1 muỗng cà phê mật ong nguyên chất</p>             
                  <p>1 thìa canh sữa chua không đường</p>
                  <h4>Cách làm:</h4>
                  <p>Xay nhuyễn yến mạch cho đến khi hỗn hợp mịn như bột. Sau đó, trộn đều hỗn hợp bí đỏ cùng bột yến mạch. Bước tiếp theo, lần lượt cho bột quế và mật ong vào khuấy đều. Nếu như mặt nạ vẫn còn đặc, bạn có thể cho thêm mật ong hoặc vài giọt nước vào để làm loãng hỗn hợp hơn.</p>
                  <p>Trước khi thoa hỗn hợp lên da bạn cũng cần rửa sạch mặt. Tuy nhiên, chỉ nên lưu mặt nạ trên da từ 5-10 phút và khoảng thời gian này có thể rút ngắn hơn nếu bạn có làn da nhạy cảm. Lau mặt bằng khăn thấm nước ấm, sau đó rửa sạch mặt. Nếu như bạn vẫn còn dư hỗn hợp mặt nạ thì có thể bảo quản trong một hộp kín và cất vào tủ lạnh, chỉ nên sử dụng trong vòng 24 giờ thôi nàng nhé.</p>
                </div>
                <div class="post-tags"><span class="tag">#Style</span><span class="tag">#Fashion</span><span class="tag">#Model</span><span class="tag">#Beauty</span></div>
                <div class="posts-nav d-flex justify-content-between align-items-stretch flex-column flex-md-row">
                  <a href="{% url 'Page:page_blog_page_2' %}" class="prev-post text-left d-flex align-items-center">
                    <div class="icon prev"><i class="fa fa-angle-left"></i></div>
                    <div class="text"><strong class="text-primary">Return to </strong>
                      <h6>Blog page</h6>
                    </div>
                  </a>
                </div>
            </div>
          </div>
        </main>
        <aside class="col-lg-4">
          <!-- Widget [Latest Posts Widget]        -->
          <div class="widget latest-posts">
            <header>
              <h3 class="h6">BÀI VIẾT KHÁC</h3>
            </header>
            <div class="blog-posts"><a href="{% url 'Page:page_blog_page_1_1' %}">
                <div class="item d-flex align-items-center">
                  <div class="image"><img src="/static/posts/post-6/small-thumbnail-1-1.jpg" alt="..." class="img-fluid"></div>
                  <div class="title"><strong>Cảm hứng cổ điển “hồi sinh” thổi làn gió mới vào xu hướng phụ kiện thu đông 2019 </strong>
                  </div>
                </div></a><a href="{% url 'Page:page_blog_page_1_2' %}">
                <div class="item d-flex align-items-center">
                  <div class="image"><img src="/static/posts/post-6/small-thumbnail-2-1.jpg" alt="..." class="img-fluid"></div>
                  <div class="title"><strong>Sự lên ngôi của 6 xu hướng hứa hẹn sẽ làm bùng nổ làng thời trang Thu Đông 2019 </strong>
                    <div class="d-flex align-items-center">
                    </div>
                  </div>
                </div></a><a href="{% url 'Page:page_blog_page_1_3' %}">
                <div class="item d-flex align-items-center">
                  <div class="image"><img src="/static/posts/post-6/small-thumbnail-3-1.jpg" alt="..." class="img-fluid"></div>
                  <div class="title"><strong>“Học lỏm” tuyệt chiêu mix&match outfit mùa hè “chuẩn” như Ninh Dương Lan Ngọc cùng loạt sao Việt
                </strong>
                    <div class="d-flex align-items-center">
                    </div>
                  </div>
                </div></a></div>
          </div>
          <div class="widget tags">       
            <header>
              <h3 class="h6">Tags</h3>
            </header>
            <ul class="list-inline">
              <li class="list-inline-item"><span class="tag">#Style</span></li>
              <li class="list-inline-item"><span class="tag">#Beauty</span></li>
              <li class="list-inline-item"><span class="tag">#Fashion</span></li>
              <li class="list-inline-item"><span class="tag">#Model</span></li>
            </ul>
          </div>
        </aside>
      </div>
    </div>
    <!-- Page Footer-->
        <!-- Footer -->
        <div class="footer" id ="contact">
            <div class="row justify-content-center">
                <div class="col-md-5 text-center">
                    <h1>WOW</h1>
                    <p>Phục vụ bạn tốt nhất</p>
                    <strong>Thông tin liên lạc:</strong>
                    <p>(+84) 888-888888<br>someMail@gmail.com</p>
                    <a href="" target="_blank"><i class="fab fa-facebook-square"></i></a>
                    <a href="" target="_blank"><i class="fab fa-twitter-square"></i></a>
                    <a href="" target="_blank"><i class="fab fa-instagram"></i></a>
                    
                </div>
            </div>
        </div> <!-- end of footer -->  
        <!-- end of footer -->
    <!-- JavaScript files-->
    <script src="/static/js/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="/static/js/popper.min.js"></script> <!-- Popper tooltip library for Bootstrap -->
    <script src="/static/js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
    <script src="/static/js/jquery.easing.min.js"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
    <script src="/static/js/swiper.min.js"></script> <!-- Swiper for image and text sliders -->
    <script src="/static/js/jquery.magnific-popup.js"></script> <!-- Magnific Popup for lightboxes -->
    <script src="/static/js/morphext.min.js"></script> <!-- Morphtext rotating text in the header -->
    <script src="/static/js/isotope.pkgd.min.js"></script> <!-- Isotope for filter -->
    <script src="/static/js/validator.min.js"></script> <!-- Validator.js - Bootstrap plugin that validates forms -->
    <script src="/static/js/scripts_base_UI_home.js"></script> <!-- Custom scripts -->
    <script src="/static/js/js_blog.js"></script>
  </body>
</html>