<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500,700&display=swap&subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600&display=swap&subset=latin-ext" rel="stylesheet">
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/fontawesome-all.css" rel="stylesheet">
    <link href="/static/css/swiper.css" rel="stylesheet">
	<link href="/static/css/magnific-popup.css" rel="stylesheet">
    <link href="/static/css/styles_base_UI_home.css" rel="stylesheet">
    <style>
        .history {
            color: #14bf98!important;
        }
    </style>
</head>
<body>
    <section class="jumbotron jumbotron-fluid" style="background-color: transparent;">
        <div class="container">
            {% include 'NavigationBar/nav_User_or_Manager.html' %}
         </div>
    </section>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr class = "text-center">
                                <th scope="col" class="text-left">Sản phẩm đã mua</th>
                                <th scope="col"></th>
                                <th scope="col">Số lượng</th>
                                <th scope="col">Ngày mua</th>
                                <th scope="col">Đơn giá</th>
                                <th scope="col">Thành tiền</th>
                                <th> </th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for od in order %}
                                {% if od.status == 'completed' %}
                                    {% for item in cartItem %}
                                        {% if item.id_cart == od.id_cart %}
                                            <tr class = "text-center">
                                                <td class = "align-middle">
                                                    <img src="https://dummyimage.com/50x50/55595c/fff" />
                                                </td>
                                                <td class = "text-left align-middle">
                                                    <a href="{% url 'Page:page_ViewDetail' item.id_product.id %}" 
                                                    role="button" class="font-weight-bold text-capitalize"
                                                    style="text-decoration: none;" 
                                                    >{{item.id_product}}</a>
                                                </td>
                                                <td class = "align-middle">
                                                    {{item.num}}
                                                </td>
                                                <td class = "align-middle">
                                                    {{od.id_cart.CreateAt}}
                                                </td>
                                                <td class = align-middle>
                                                    {{item.id_product.price_sale|floatformat:'-1'}} VNĐ
                                                </td>
                                                <td class = "text-right align-middle">
                                                    {{item.sum_product|floatformat:'-1'}} VNĐ
                                                </td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>   
</body>
</html>