<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Giỏ hàng</title>
    
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <link href="../static/css/cart.css" rel="stylesheet">

</head>

<body>
    <section class="jumbotron jumbotron-fluid">
        <div class="container">
            {% include 'NavigationBar/nav_User_or_Manager.html' %}
         </div>
    </section>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col"> </th>
                                <th scope="col">Sản phẩm</th>
                                <th scope="col">Tình trạng</th>
                                <th scope="col" class="text-center">Số lượng</th>
                                <th scope="col" class="text-center">Thành tiền</th>
                                <th> </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in cartItem %}
                            <tr>
                                <!-- Product Image -->
                                <td><img src="https://dummyimage.com/50x50/55595c/fff" /> </td>

                                <!-- Product name -->
                                <td>
                                    <a href="{% url 'Page:page_ViewDetail' item.id_product.id %}" 
                                    role="button" class="font-weight-bold" 
                                    >{{item.id_product}}</a>
                                </td>

                                <!-- Product Status -->
                                <td>Còn hàng</td>

                                <!-- Product Quantity -->
                                <td class="text-center">
                                    {% if item.num > 1 %}
                                    <a href="" class="fa fa-minus" style="text-decoration:none"></a>
                                    {% elif item.num == 1 %}
                                    <a href="" class="fa fa-minus" style="text-decoration:none"></a>
                                    {% endif %}&nbsp;<input type="text" name="" value="{{item.num}}" size="3">&nbsp;
                                    <a href="" class="fa fa-plus" style="text-decoration:none"></a>
                                </td>

                                <!-- Product price -->
                                <td class="text-center">
                                    {{item.id_product.price_sale|floatformat:'-1'}} VNĐ
                                </td>

                                <!-- Remove product -->
                                <td class="text-right">
                                    <button class="btn btn-sm btn-danger">
                                        <span class="fa fa-trash" 
                                            onclick="document.getElementById('{{item.id}}').style.display='block'"></span>
                                    </button>
                                </td>
                            </tr>
                            {% endfor %}
                            
                            {% if cartItem|length != 0%}
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>Vận chuyển</td>
                                <td class="text-right">Miễn phí</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><strong>Tổng tiền</strong></td>
                                <td class="text-right"><strong>{{item.sum_product|floatformat:'-1'}} VNĐ</strong></td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col mb-2">
                <div class="row">
                    <td><div class="col-sm-12  col-md-3"></div></td>
                    <td><div class="col-sm-12  col-md-3"></div></td>
                    <td>
                        <div class="col-sm-6  col-md-3 text-center">
                            <button class="btn btn-block btn-primary">Tiếp tục mua sắm</button>
                        </div>                       
                    </td>
                    <td>
                        <div class="col-sm-6 col-md-3 text-center">
                            <button class="btn btn-block btn-block btn-success">
                                <span class="" onclick="document.getElementById('id{{item.id}}').style.display='block'"
                                      data-toggle="tooltip" title="Thanh toán">Thanh toán ngay
                                </span>
                            </button>
                        </div>   
                    </td>
                    
                </div>
            </div>
        </div>
    </div>
</body>
</html>