<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500,700&display=swap&subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600&display=swap&subset=latin-ext" rel="stylesheet">
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/fontawesome-all.css" rel="stylesheet">
    <link href="/static/css/swiper.css" rel="stylesheet">
	<link href="/static/css/magnific-popup.css" rel="stylesheet">
    <link href="/static/css/styles_base_UI_home.css" rel="stylesheet">
    <style>
        .history {
            color: #14bf98!important;
        }
    </style>
</head>
<body>
    <section class="jumbotron jumbotron-fluid" style="background-color: transparent;">
        <div class="container">
            {% include 'NavigationBar/nav_User_or_Manager.html' %}
         </div>
    </section>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr class = "text-center">
                                <th scope="col" class="text-left">STT</th>
                                <th scope="col">Đơn Hàng</th>
                                <th scope="col">Ngày mua</th>
                                <th scope="col">Tổng tiền</th>
                                <th> </th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for od in order %}
                                {% if od.status == 'completed' %}
                                    <tr class = "text-center">
                                        <td>{{ forloop.counter}}</td>
                                        <td> Số {{ forloop.counter }}</td>
                                        <td> {{od.id_cart.CreateAt}}</td>
                                        <td> {{od.id_cart.total_price}} VNĐ</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>   
</body>
</html>