<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Giỏ hàng</title>
    
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    
    <script>
        var quantity = 0;
        // Updata product quantity
        $(document).ready(function() {
            //alert("load Ok");
        });
        function minus(id){
            $.post('/minus', {'id':id, 'csrfmiddlewaretoken':'{{csrf_token}}'}, 
            function(data){
            //    alert("Bạn vừa giảm số lượng thêm 1!");
            });
            classes_list = document.getElementsByClassName(`quantity_in_cart_item_${id}`); 
            for (i = 0; i < classes_list.length; i++)
            {
                let num = +classes_list[i].getElementsByClassName(`child_${id}`)[0].innerHTML;
                if(num - 1 === 1) {
                $(`#minus_cart_item_quantity-${id}`).prop('disabled', true);
                }
                    classes_list[i].getElementsByClassName(`child_${id}`)[0].innerHTML = num-1;
            }
        }

        function plus(id){
            $.post('/plus', {'id':id, 'csrfmiddlewaretoken':'{{csrf_token}}'}, 
            function(data){
            //    alert("Bạn vừa tăng số lượng thêm 1!");
            });
            $(`#minus_cart_item_quantity-${id}`).prop('disabled', false);
            classes_list = document.getElementsByClassName(`quantity_in_cart_item_${id}`); 
            for (i = 0; i < classes_list.length; i++)
            {
                let num = +classes_list[i].getElementsByClassName(`child_${id}`)[0].innerHTML;
                classes_list[i].getElementsByClassName(`child_${id}`)[0].innerHTML = num+1;
            }
        }
    </script>
</head>

<body>
    <section class="jumbotron jumbotron-fluid">
        <div class="container">
            {% include 'NavigationBar/nav_User_or_Manager.html' %}
         </div>
    </section>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col"> </th>
                                <th scope="col">Sản phẩm</th>
                                <th scope="col">Tình trạng</th>
                                <th scope="col" class="text-center">Số lượng</th>
                                <th scope="col" class="text-center">Thành tiền</th>
                                <th> </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in cartItem %}
                            <tr>
                                <!-- Product Image -->
                                <td><img src="https://dummyimage.com/50x50/55595c/fff" /> </td>

                                <!-- Product name -->
                                <td>
                                    <a href="{% url 'Page:page_ViewDetail' item.id_product.id %}" 
                                    role="button" class="font-weight-bold" 
                                    >{{item.id_product}}</a>
                                </td>

                                <!-- Product Status -->
                                <td>Còn hàng</td>

                                <!-- Product Quantity -->
                                <td class="text-center">
                                    <button  id="minus_cart_item_quantity-{{item.id}}" {% if item.num == 1 %} disabled {%endif%} onclick="minus({{item.id}})" class="fa fa-minus"></button>
                                    <span class = "quantity_in_cart_item_{{item.id}}">
                                        <span class="child_{{item.id}}" style="padding: 10px">  {{item.num}}  </span>
                                    </span>
                                    <button onclick="plus({{item.id}})" class="fa fa-plus"></button>
                                </td>

                                <!-- Product price -->
                                <td class="text-center">
                                    {{item.id_product.price_sale|floatformat:'-1'}} VNĐ
                                </td>

                                <!-- Delete product -->
                                <td class="text-right">
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-sm btn-danger fa fa-trash" data-toggle="modal" data-target="#delete_form">
                                    </button>
                                    {% include 'Form/form_deleteProduct.html' %}
                                </td>
                                <!-- End Remove product -->
                            </tr>
                            {% endfor %}
                
                            {% if cartItem|length != 0%}
                            <!-- Shipping -->
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>Vận chuyển</td>
                                <td class="text-right">Miễn phí</td>
                            </tr>
                            
                            <!-- Total Money -->
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><strong>Tổng tiền</strong></td>
                                <td class="text-right"><strong>{{item.sum_product|floatformat:'-1'}} VNĐ</strong></td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
            
            {% if cartItem|length != 0%}
            <div class="col mb-2">
                <div class="row">
                    <!-- Continue Shopping -->
                    <td><div class="col-sm-12  col-md-3"></div></td>
                    <td><div class="col-sm-12  col-md-3"></div></td>
                    <td>
                        <div class="col-sm-6  col-md-3 text-center">
                            <button class="btn btn-block btn-primary">
                                <a href="../../index" 
                                    style="text-decoration:none; color: white">Tiếp tục mua sắm
                                </a>
                            </button>
                        </div>                       
                    </td>

                    <!-- Checkout -->
                    <td>
                        <div class="col-sm-6 col-md-3 text-center">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-block btn-block btn-success" 
                                data-toggle="modal" data-target="#checkout_form">
                            Thanh toán
                            </button>
                            {% include 'Form/form_buy.html' %}
                        </div>
                    </td>
                    <!-- End Checkout -->
                </div>
            </div>
            {% endif %}

            {% if cartItem|length == 0 %}
            <div class="container">
                <div class="row justify-content-start">
                    <div class="col-4">
                    </div>
                    <div class="col-4">
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-4">
                    </div>
                    <div class="col-4">
                    </div>
                </div>
                <div class="row justify-content-end">
                    <div class="col-4">
                    Bạn chưa có sản phẩm nào trong giỏ hàng.
                    </div>
                    <div class="col-4">
                    </div>
                </div>
                <div class="row justify-content-around">
                    <div class="col-4">
                    </div>
                    <div class="col-4">
                    </div>
                </div>
                <div class="row justify-content-between">
                    <div class="col-4">
                    </div>
                    <div class="col-4">
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</body>
</html>