<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Giỏ hàng</title>
    
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    
    <style>
        a:hover{
            color: blue;
        }
    </style>
</head>

<body>
    <section class="jumbotron jumbotron-fluid" style="background-color: transparent;">
        <div class="container">
            {% include 'NavigationBar/nav_User_or_Manager.html' %}
         </div>
    </section>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Sản phẩm</th>
                                <th scope="col"></th>
                                <th scope="col">Tình trạng</th>
                                <th scope="col" class="text-center">Số lượng</th>
                                <th scope="col" class="text-center">Đơn giá</th>
                                <th scope="col" class="text-center">Thành tiền</th>
                                <th scope="col" class="text-right">Tùy chọn</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in cartItem %}
                            <tr>
                                <!-- Product Image -->
                                <td class = "align-middle">
                                    {% if item.id_product.img %}
                                    <img align="center" src="{{ item.id_product.img.url }}"  class="w3-hover-opacity"
                                         width="50" height="50">
                                    {% endif %}
                                <!-- Product name -->
                                <td class = "align-middle">
                                    <a href="{% url 'Page:page_ViewDetail' item.id_product.id %}" 
                                        role="button" class="font-weight-bold text-capitalize"
                                        style="text-decoration: none; color: green;"  
                                        onMouseOver="this.style.color='blue'"
                                        onMouseOut="this.style.color='green'">{{item.id_product}}</a>
                                </td>

                                <!-- Product Status -->
                                <td class="align-middle">Còn hàng</td>

                                <!-- Product Quantity -->
                                <td class="text-center align-middle">
                                    <span>
                                        <span style="padding: 10px">  {{item.num}}</span>
                                    </span>
                                </td>

                                <!-- Product price -->
                                <td class="text-center align-middle">
                                    {{item.id_product.price_sale|floatformat:'-1'}} VNĐ
                                </td>
                                <!-- Product total price -->
                                <td class="text-center align-middle">
                                    {{item.sum_product|floatformat:'-1'}} VNĐ
                                </td>

                                <!-- Delete product -->
                                <td class="text-right align-middle">
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-sm btn-danger fa fa-trash" data-toggle="modal" data-target="#delete_form">
                                    </button>
                                    {% include 'Form/form_deleteProduct.html' %}
                                </td>
                                <!-- End Remove product -->
                            </tr>
                            {% endfor %}
                
                            {% if cartItem|length != 0%}
                            <!-- Shipping -->
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="align-middle font-weight-bold">Vận chuyển</td>
                                <td class="text-right align-middle font-weight-bold">Miễn phí</td>
                            </tr>
                            
                            <!-- Total Money -->
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="font-weight-bold">Tổng tiền</td>
                                <td class="text-right align-middle font-weight-bold">{{total|floatformat:'-1'}} VNĐ</td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
            
            {% if cartItem|length != 0%}
            <div class="col mb-2">
                <div class="row">
                    <!-- Continue Shopping -->
                    <td><div class="col-sm-12  col-md-3"></div></td>
                    <td><div class="col-sm-12  col-md-3"></div></td>
                    <td class="align-middle">
                        <div class="col-sm-6  col-md-3 text-center">
                            <button class="btn btn-block btn-primary">
                                <a href="{% url 'Page:page_product_list' %}"
                                    style="text-decoration:none; color: white">Tiếp tục mua sắm
                                </a>
                            </button>
                        </div>                       
                    </td>

                    <!-- Checkout -->
                    <td>
                        <div class="col-sm-6 col-md-3 text-center">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-block btn-block btn-success" 
                                data-toggle="modal" data-target="#checkout_form">
                            Thanh toán
                            </button>
                            {% include 'Form/form_buy.html' %}
                        </div>
                    </td>
                    <!-- End Checkout -->
                </div>
            </div>
            {% endif %}

            {% if cartItem|length == 0 %}
            <div class="container">
                <div class="row justify-content-start">
                    <div class="col-4">
                    </div>
                    <div class="col-4">
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-4">
                    </div>
                    <div class="col-4">
                    </div>
                </div>
                <div class="row justify-content-end">
                    <div class="col-4">
                    Bạn chưa có sản phẩm nào trong giỏ hàng.
                    </div>
                    <div class="col-4">
                    </div>
                </div>
                <div class="row justify-content-around">
                    <div class="col-4">
                    </div>
                    <div class="col-4">
                    </div>
                </div>
                <div class="row justify-content-between">
                    <div class="col-4">
                    </div>
                    <div class="col-4">
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</body>
</html>