
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>

<script>
    
</script>
<body>

    {% include 'NavigationBar/nav_User_or_Manager.html' %}

    <div class="container" style="margin-top:120px">
        <div class="row">
            <div class="col-lg-12 mx-auto">
                <!-- List group-->
                <ul class="list-group shadow">
                    <!-- list group item -->
                    <li class="list-group-item list-group list-group-item-secondary" 
                    style="font-family: 'Open Sans Condensed';">
                        <div class = "row text-center">
                            <div class="col-3 text-left">
                                <h6>Người dùng</h6>
                            </div>

                            <div class="col-3">
                                <h6>Đơn hàng</h6>
                            </div>

                            <div class="col-3">
                                <h6>Địa chỉ nhận hàng</h6>
                            </div>
                            
                            <div class="col text-center">
                                <h6>Trạng thái</h6>
                            </div>

                            <div class="col text-right">
                                <h6></h6>
                            </div>
                        </div>
                    </li> <!-- End -->
                </ul> <!-- End -->
            </div>
        </div>

        {% for od in order %}
        {% if od.status != 'completed' %}
        <div class="row">
            <div class="col-lg-12 mx-auto">
                <!-- List group-->
                <ul class="list-group shadow">
                    <!-- list group item -->
                    <li class="list-group-item list-group-item-action list-group-item-light">
                        <div class = "row text-center">
                            <div class="col-3">
                                <!-- customer name -->
                                <div class="text-left font-weight-bold" style="color: black;">
                                    {{od.id_user.customer.name}}
                                </div>
                                <div></div>
                                <div class="text-right" style="margin-top:10px">
                                    <button type="button" class="btn btn-sm btn-info" data-toggle="modal" data-target="#customer_of_order_{{od.id}}">
                                        Xem chi tiết
                                    </button>
                                </div>
                            </div>

                            <!-- Order Info -->
                            <div class="col-3">
                                <div class="text-left" style="color: black;">
                                    {{od.id_cart.CreateAt}}
                                </div>
                                <div></div>
                                <div class="text-right" style="margin-top:10px">
                                    <button type="button" class="btn btn-sm btn-info" data-toggle="modal" data-target="#order_detail_{{od.id}}">
                                        Xem chi tiết
                                    </button>
                                </div>
                            </div>

                            <!-- Order address -->
                            <div class="col-3">
                                <div class="text-center" 
                                style="color: black; text-transform: capitalize; margin-top: 9%;"> 
                                    {{ od.address }}
                                </div>
                            </div>

                            <!-- Order Status -->
                            <div class="col">
                                <div class="text-center" id="order_{{od.id}}_status"
                                style="color: black; text-transform: capitalize; margin-top: 20%;">
                                    {{ od.status }}
                                </div>
                            </div>

                            <!-- Confirm or Delete Order -->

                            <div class="col text-right">
                                <!-- <button ><i class="fas fa-check"></i></button> -->
                                <div style="margin-top: 20%;">
                                {% if od.status == 'pending' %}
                                    <button>
                                        <a href="{% url 'Page:page_confirm' od.id %}" class="fas fa-check" style="text-decoration: none">Confirm</a>
                                    </button>

                                    <button>
                                        <a href="{% url 'Page:page_deleteOrder' od.id %}" class="fas fa-trash" style="text-decoration: none"></a>
                                    </button>

                                {% elif od.status == 'confirm' %}
                                    <button>
                                        <a href="{% url 'Page:page_isShipping' od.id %}" class="fas fa-check" style="text-decoration: none">Shipping</a>
                                    </button>

                                {% elif od.status == 'shipping' %}
                                    <button>
                                        <a href="{% url 'Page:page_isPaid' od.id %}" class="fas fa-check" style="text-decoration: none">Paid</a>
                                    </button>

                                {% elif od.status == 'paid' %}
                                    <button>
                                        <a href="{% url 'Page:page_isCompleted' od.id %}" class="fas fa-check" style="text-decoration: none">Completed</a>
                                    </button>
                                {% endif %}
                                </div>
                            </div>

                        </div>
                    </li> <!-- End -->
                </ul> <!-- End -->
            </div>
        </div>
        {% endif %}
        {% endfor %}

        {% for od in order %}
            {% include 'Form/form_userInfo.html' %}
            {% include 'Form/form_orderInfo.html' %}
        {% endfor %}

    </div>
</body>
</html>